# MI Assignment 1 [UE20CS060]

Before we start working with the notebook and xlsx files, we first understand what is present in the dataset.

The dataset consists of the following columns:
1. InvoiceNo	
2. StockCode	
3. Description	
4. Quantity	
5. InvoiceDate	
6. UnitPrice
7. CustomerID	
8. Country

### Procedure followed throughout the project

1. Importing Packages
2. Data Inspection
    - Dataset at a glance
    - Columns at a glance
    - To check whether data contains any null values
3. Data Cleaning
    - Dropping data column
    - Populating the missing ages
    - Missing

## 1. Importing Python Packages

In [1]:
import pandas as pd
import xlrd as xl
import numpy as np
from datetime import datetime

## 2. Data Inspection

In [2]:
df = pd.read_excel('1_Assignment_Online Retail.xlsx', engine='openpyxl', sheet_name='Online Retail')
# df = pd.read_excel('abc.xlsx', engine='openpyxl', sheet_name='Sheet1')

# This may take sometime to give an output
display(df)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [3]:
# Describing all the numerical columns and it important calculations
# Note how the UnitPrice and Quantity are negative values
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [4]:
df= df.sort_values(by=['CustomerID'])
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom
286628,562032,21578,WOODLAND DESIGN COTTON TOTE BAG,6,2011-08-02 08:48:00,2.25,12347.0,Iceland
72263,542237,47559B,TEA TIME OVEN GLOVE,10,2011-01-26 14:30:00,1.25,12347.0,Iceland
72264,542237,21154,RED RETROSPOT OVEN GLOVE,10,2011-01-26 14:30:00,1.25,12347.0,Iceland
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [5]:
# Checking if null values are present
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
# Printing all the unique records of a column
# This concludes that the description is irrelevant to the prediction model

df['Description'].unique().tolist()

['MEDIUM CERAMIC TOP STORAGE JAR',
 'WOODLAND DESIGN  COTTON TOTE BAG',
 'TEA TIME OVEN GLOVE',
 'RED RETROSPOT OVEN GLOVE ',
 'RED RETROSPOT OVEN GLOVE DOUBLE',
 'SET/2 RED RETROSPOT TEA TOWELS ',
 'REGENCY CAKESTAND 3 TIER',
 'BOX OF 6 ASSORTED COLOUR TEASPOONS',
 'MINI LADLE LOVE HEART RED ',
 'CHOCOLATE CALCULATOR',
 'AIRLINE BAG VINTAGE JET SET RED',
 'MINI LIGHTS WOODLAND MUSHROOMS',
 'PINK GOOSE FEATHER TREE 60CM',
 'MADRAS NOTEBOOK MEDIUM',
 'AIRLINE BAG VINTAGE WORLD CHAMPION ',
 'AIRLINE BAG VINTAGE JET SET BROWN',
 'AIRLINE BAG VINTAGE TOKYO 78',
 'BIRDCAGE DECORATION TEALIGHT HOLDER',
 'PACK OF 60 SPACEBOY CAKE CASES',
 'PACK OF 60 MUSHROOM CAKE CASES',
 '60 TEATIME FAIRY CAKE CASES',
 '72 SWEETHEART FAIRY CAKE CASES',
 'VICTORIAN SEWING KIT',
 'REGENCY MILK JUG PINK ',
 'MINI PLAYING CARDS SPACEBOY ',
 'REGENCY TEAPOT ROSES ',
 'REGENCY TEA PLATE ROSES ',
 'REGENCY TEA PLATE PINK',
 'REGENCY TEA PLATE GREEN ',
 'CHRISTMAS METAL TAGS ASSORTED ',
 'REGENCY TEA STRAINER',
 'AIRLINE BAG VINTAGE JET SET WHITE',
 'SANDWICH BATH SPONGE',
 'ALARM CLOCK BAKELIKE CHOCOLATE',
 'ALARM CLOCK BAKELIKE GREEN',
 'ALARM CLOCK BAKELIKE RED ',
 'ALARM CLOCK BAKELIKE PINK',
 'ALARM CLOCK BAKELIKE ORANGE',
 'SMALL HEART MEASURING SPOONS',
 'RABBIT NIGHT LIGHT',
 'TEA TIME DES TEA COSY',
 'SET OF 60 VINTAGE LEAF CAKE CASES ',
 'ROSES REGENCY TEACUP AND SAUCER ',
 'PANTRY HOOK BALLOON WHISK ',
 'PANTRY HOOK SPATULA',
 'TRIPLE HOOK ANTIQUE IVORY ROSE',
 'TRADITIONAL KNITTING NANCY',
 'MINI PAINT SET VINTAGE ',
 'WOODEN SCHOOL COLOURING SET',
 'REVOLVER WOODEN RULER ',
 'PLAYING CARDS KEEP CALM & CARRY ON',
 'PANTRY HOOK TEA STRAINER ',
 'LARGE HEART MEASURING SPOONS',
 'TEA TIME KITCHEN APRON',
 'PINK REGENCY TEACUP AND SAUCER',
 'GREEN REGENCY TEACUP AND SAUCER',
 '3D DOG PICTURE PLAYING CARDS',
 'RED TOADSTOOL LED NIGHT LIGHT',
 'TREASURE ISLAND BOOK BOX',
 'VINTAGE HEADS AND TAILS CARD GAME ',
 'SET 40 HEART SHAPE PETIT FOUR CASES',
 'TOOTHPASTE TUBE PEN',
 'SET OF 2 TINS VINTAGE BATHROOM ',
 'WOODLAND CHARLOTTE BAG',
 'FOOD CONTAINER SET 3 LOVE HEART ',
 'NAMASTE SWAGAT INCENSE',
 'REGENCY SUGAR BOWL GREEN',
 'SMALL FOLDING SCISSOR(POINTED EDGE)',
 '3D SHEET OF CAT STICKERS',
 '3D SHEET OF DOG STICKERS',
 'CAMOUFLAGE EAR MUFF HEADPHONES',
 'BLACK EAR MUFF HEADPHONES',
 'BOOM BOX SPEAKER BOYS',
 'SET/3 DECOUPAGE STACKING TINS',
 'GIFT BAG PSYCHEDELIC APPLES',
 'EMERGENCY FIRST AID TIN ',
 'RED 3 PIECE RETROSPOT CUTLERY SET',
 'BLUE 3 PIECE POLKADOT CUTLERY SET',
 'BATHROOM METAL SIGN ',
 'BLACK GRAND BAROQUE PHOTO FRAME',
 'FOUR HOOK  WHITE LOVEBIRDS',
 'PINK 3 PIECE POLKADOT CUTLERY SET',
 'BICYCLE PUNCTURE REPAIR KIT ',
 'SINGLE ANTIQUE ROSE HOOK IVORY',
 'PACK OF 60 DINOSAUR CAKE CASES',
 'CLASSIC CHROME BICYCLE BELL ',
 'RED REFECTORY CLOCK ',
 'MINI PLAYING CARDS DOLLY GIRL ',
 'CHRISTMAS TABLE SILVER CANDLE SPIKE',
 'PINK NEW BAROQUECANDLESTICK CANDLE',
 'PURPLE DRAWERKNOB ACRYLIC EDWARDIAN',
 'ICE CREAM SUNDAE LIP GLOSS',
 'RED RETROSPOT PURSE ',
 'GREEN DRAWER KNOB ACRYLIC EDWARDIAN',
 'PINK DRAWER KNOB ACRYLIC EDWARDIAN',
 'CLEAR DRAWER KNOB ACRYLIC EDWARDIAN',
 'COLOUR GLASS. STAR T-LIGHT HOLDER',
 'BLACK CANDELABRA T-LIGHT HOLDER',
 'BLUE NEW BAROQUE CANDLESTICK CANDLE',
 'FEATHER PEN,COAL BLACK',
 'BLUE DRAWER KNOB ACRYLIC EDWARDIAN',
 'HOLIDAY FUN LUDO',
 'RED DRAWER KNOB ACRYLIC EDWARDIAN',
 'WATERING CAN PINK BUNNY',
 'PACK OF 12 RED RETROSPOT TISSUES ',
 'PACK OF 12 HEARTS DESIGN TISSUES ',
 'MULTI HEARTS  STICKERS',
 'POSTAGE',
 'PACK OF 12 SKULL TISSUES',
 'DOUGHNUT LIP GLOSS ',
 'SET OF 9 BLACK SKULL BALLOONS',
 'ICE CREAM PEN LIP GLOSS ',
 'PACK OF 12 BLUE PAISLEY TISSUES ',
 'PACK OF 12 WOODLAND TISSUES ',
 'PACK OF 72 SKULL CAKE CASES',
 'PACK OF 12 LONDON TISSUES ',
 '60 CAKE CASES DOLLY GIRL DESIGN',
 'PACK OF 12 SUKI TISSUES ',
 'SET OF 72 SKULL PAPER  DOILIES',
 'SET OF 72 PINK HEART PAPER DOILIES',
 '60 CAKE CASES VINTAGE CHRISTMAS',
 'PACK OF 60 PINK PAISLEY CAKE CASES',
 'SWEETIES  STICKERS',
 'PANTRY MAGNETIC  SHOPPING LIST',
 'RECIPE BOX PANTRY YELLOW DESIGN',
 'SET OF 3 CAKE TINS PANTRY DESIGN ',
 'JAM MAKING SET WITH JARS',
 'PLASTERS IN TIN VINTAGE PAISLEY ',
 'PANTRY CHOPPING BOARD',
 'CERAMIC STRAWBERRY DESIGN MUG',
 'DOORMAT VINTAGE LEAF',
 'BROCANTE SHELF WITH HOOKS',
 'SET OF 6 SPICE TINS PANTRY DESIGN',
 'DOORMAT WELCOME TO OUR HOME',
 'SWEETHEART CERAMIC TRINKET BOX',
 'SET/5 RED RETROSPOT LID GLASS BOWLS',
 'WRAP RED VINTAGE DOILY',
 'PARISIENNE CURIO CABINET',
 'RED RETROSPOT SMALL MILK JUG',
 'RED RETROSPOT SUGAR JAM BOWL',
 'RETROSPOT LARGE MILK JUG',
 'SMALL RED RETROSPOT MUG IN BOX ',
 'RAIN PONCHO RETROSPOT',
 'RED RETROSPOT UMBRELLA',
 'PLASTERS IN TIN SKULLS',
 'BLACK/BLUE POLKADOT UMBRELLA',
 'GLASS  SONGBIRD STORAGE JAR',
 'SET OF 6 TEA TIME BAKING CASES',
 'SET OF 6 SNACK LOAF BAKING CASES',
 'DOORMAT ENGLISH ROSE ',
 'SET OF 12 MINI LOAF BAKING CASES',
 'STORAGE TIN VINTAGE DOILY ',
 'SET OF 4 KNICK KNACK TINS DOILY ',
 'SWEETHEART WALL TIDY ',
 'SET OF 12 FAIRY CAKE BAKING CASES',
 '20 DOLLY PEGS RETROSPOT',
 'SET OF 3 WOODEN HEART DECORATIONS',
 'ENGLISH ROSE SPIRIT LEVEL ',
 'GROW YOUR OWN BASIL IN ENAMEL MUG',
 'FRENCH ENAMEL CANDLEHOLDER',
 'SET OF 10 LED DOLLY LIGHTS',
 '16 PIECE CUTLERY SET PANTRY DESIGN',
 'DOORMAT FAIRY CAKE',
 'SET/4 WHITE RETRO STORAGE CUBES ',
 'PINK  HEART SHAPE LOVE BUCKET ',
 'GINGHAM HEART  DOORSTOP RED',
 'RED HEART SHAPE LOVE BUCKET ',
 'DOORMAT HEARTS',
 'HANGING HEART JAR T-LIGHT HOLDER',
 'SMALL WHITE RETROSPOT MUG IN BOX ',
 'TEA TIME TEAPOT IN GIFT BOX',
 'CERAMIC CAKE DESIGN SPOTTED MUG',
 'PINK DOUGHNUT TRINKET POT ',
 'STRAWBERRY CERAMIC TRINKET POT',
 'PLASTERS IN TIN CIRCUS PARADE ',
 'ZINC FOLKART SLEIGH BELLS',
 'HAND WARMER RED LOVE HEART',
 'HEART T-LIGHT HOLDER WILLIE WINKIE',
 'SET/6 RED SPOTTY PAPER CUPS',
 'CHRISTMAS RETROSPOT ANGEL WOOD',
 'ROUND SNACK BOXES SET OF4 WOODLAND ',
 'ENAMEL WATERING CAN CREAM',
 'PLASTERS IN TIN WOODLAND ANIMALS',
 'RETROSPOT PARTY BAG + STICKER SET',
 'VINTAGE DOILY TRAVEL SEWING KIT',
 'VINTAGE DOILY DELUXE SEWING KIT ',
 'EMBROIDERED RIBBON REEL SALLY ',
 'PAINTED METAL PEARS ASSORTED',
 'WRAP RED APPLES ',
 'PLASTERS IN TIN STRONGMAN',
 'DOORMAT RED RETROSPOT',
 'BLUE POLKADOT PASSPORT COVER',
 'UNION JACK FLAG LUGGAGE TAG',
 'UNION JACK FLAG PASSPORT COVER ',
 'METAL SIGN NEIGHBOURHOOD WITCH ',
 '4 TRADITIONAL SPINNING TOPS',
 'RETRO MOD TRAY',
 'RETRO PLASTIC ELEPHANT TRAY',
 'CHOCOLATE THIS WAY METAL SIGN',
 'TEA BAG PLATE RED RETROSPOT',
 'BLUE POLKADOT LUGGAGE TAG ',
 'PINK/PURPLE RETRO RADIO',
 'RED  HARMONICA IN BOX ',
 'PLASTERS IN TIN SPACEBOY',
 'WOODEN OWLS LIGHT GARLAND ',
 'CERAMIC STRAWBERRY CAKE MONEY BANK',
 'STRAWBERRY CERAMIC TRINKET BOX',
 'WOODEN HAPPY BIRTHDAY GARLAND',
 'DOLLY GIRL LUNCH BOX',
 'SPOTTY BUNTING',
 'FAIRY CAKE BIRTHDAY CANDLE SET',
 'Manual',
 'VINTAGE CREAM DOG FOOD CONTAINER',
 'BAKING SET 9 PIECE RETROSPOT ',
 'PINK HEART SHAPE EGG FRYING PAN',
 'DELUXE SEWING KIT ',
 'LIGHT GARLAND BUTTERFILES PINK',
 'IVORY KITCHEN SCALES',
 'BAKING SET SPACEBOY DESIGN',
 'PANTRY WASHING UP BRUSH',
 'SET OF 4 PANTRY JELLY MOULDS',
 'SMALL GLASS HEART TRINKET POT',
 'SET OF 3 REGENCY CAKE TINS',
 'PANTRY SCRUBBING BRUSH',
 'ANTIQUE GLASS PEDESTAL BOWL',
 'METAL SIGN TAKE IT OR LEAVE IT ',
 'LOVE BUILDING BLOCK WORD',
 'BLUE HARMONICA IN BOX ',
 'CERAMIC HEART FAIRY CAKE MONEY BANK',
 'LANTERN CREAM GAZEBO ',
 'PINK DOG BOWL',
 'WELCOME  WOODEN BLOCK LETTERS',
 'BATH BUILDING BLOCK WORD',
 'SET OF TEA COFFEE SUGAR TINS PANTRY',
 'CHILDS BREAKFAST SET SPACEBOY ',
 'CHILDS BREAKFAST SET DOLLY GIRL ',
 'OPEN CLOSED METAL SIGN',
 'PETIT TRAY CHIC',
 'HOME BUILDING BLOCK WORD',
 'CAT BOWL VINTAGE CREAM',
 'BIG DOUGHNUT FRIDGE MAGNETS',
 'SET 12 COLOUR PENCILS DOLLY GIRL ',
 'BLUE STRIPE CERAMIC DRAWER KNOB',
 'GLASS BON BON JAR',
 'VICTORIAN GLASS HANGING T-LIGHT',
 'ZINC HEART FLOWER T-LIGHT HOLDER',
 'SET OF 4 ENGLISH ROSE COASTERS',
 'SET 12 COLOUR PENCILS SPACEBOY ',
 'PANTRY ROLLING PIN',
 'PANTRY PASTRY BRUSH',
 'WOODLAND BUNNIES LOLLY MAKERS',
 'PINK BABY BUNTING',
 'MINT KITCHEN SCALES',
 'CERAMIC CAKE STAND + HANGING CAKES',
 'MINI CAKE STAND WITH HANGING CAKES',
 'NOVELTY BISCUITS CAKE STAND 3 TIER',
 'CERAMIC CAKE BOWL + HANGING CAKES',
 'RED RETROSPOT ROUND CAKE TINS',
 'LUNCH BAG PINK POLKADOT',
 '3 TIER CAKE TIN GREEN AND CREAM',
 'BLUE POLKADOT CUP',
 'CHILDRENS CUTLERY POLKADOT PINK',
 "CHILDREN'S APRON DOLLY GIRL ",
 'PICNIC BOXES SET OF 3 RETROSPOT ',
 'SPACEBOY LUNCH BOX ',
 'LUNCH BAG RED RETROSPOT',
 'CIRCUS PARADE LUNCH BOX ',
 'UNION STRIPE WITH FRINGE  HAMMOCK',
 'BREAD BIN DINER STYLE PINK',
 'BLUE POLKADOT BOWL',
 'DOORSTOP RETROSPOT HEART',
 'CARD BILLBOARD FONT',
 'DOLLY GIRL BABY GIFT SET',
 'CIRCUS PARADE BABY GIFT SET',
 'TRADITIONAL WOODEN SKIPPING ROPE',
 'ASSORTED COLOUR MINI CASES',
 'CHILDRENS CUTLERY CIRCUS PARADE',
 'CHILDRENS CUTLERY DOLLY GIRL ',
 'CHARLOTTE BAG VINTAGE ALPHABET ',
 'RED RETROSPOT MINI CASES',
 'RETROSPOT CHILDRENS APRON',
 'BOX OF VINTAGE JIGSAW BLOCKS ',
 'S/6 WOODEN SKITTLES IN COTTON BAG',
 'CHARLOTTE BAG DOLLY GIRL DESIGN',
 'CHARLOTTE BAG APPLES DESIGN',
 'CHILDRENS CUTLERY SPACEBOY ',
 'JUMBO BAG ALPHABET',
 'RETROSPOT LAMP',
 'CAKE STAND WHITE TWO TIER LACE',
 'RED RETROSPOT CUP',
 'SET/20 RED RETROSPOT PAPER NAPKINS ',
 'RECYCLED ACAPULCO MAT TURQUOISE',
 'RECYCLED ACAPULCO MAT LAVENDER',
 'PINK  POLKADOT CUP',
 'RED RETROSPOT CAKE STAND',
 'PARTY PIZZA DISH PINK POLKADOT',
 'PARTY PIZZA DISH RED RETROSPOT',
 'RED RETROSPOT PLATE ',
 'FIVE CATS HANGING DECORATION',
 'BLUE POLKADOT PLATE ',
 'PINK  POLKADOT PLATE ',
 'NATURAL SLATE CHALKBOARD LARGE ',
 'PINK POLKADOT BOWL',
 'RED RETROSPOT BOWL',
 'RED RETROSPOT BIG BOWL',
 'PAPER BUNTING RETROSPOT',
 'STRAWBERRY FAIRY CAKE TEAPOT',
 'S/4 PINK FLOWER CANDLES IN BOWL',
 'ROSE SCENT CANDLE IN JEWELLED BOX',
 'GROW A FLYTRAP OR SUNFLOWER IN TIN',
 'OCEAN SCENT CANDLE IN JEWELLED BOX',
 'VANILLA SCENT CANDLE JEWELLED BOX',
 'SET/6 RED SPOTTY PAPER PLATES',
 'CERAMIC CAKE DESIGN SPOTTED PLATE',
 'PACK OF 12 STICKY BUNNIES',
 'SET OF 3 HEART COOKIE CUTTERS',
 'PINK BLUE FELT CRAFT TRINKET BOX',
 'MINI CAKE STAND  HANGING STRAWBERY',
 'S/4 VALENTINE DECOUPAGE HEART BOX',
 'SET 3 PAPER VINTAGE CHICK PAPER EGG',
 'SET 6 FOOTBALL CELEBRATION CANDLES',
 'SET/10 PINK POLKADOT PARTY CANDLES',
 'ASSORTED EASTER GIFT TAGS',
 'SET/3 RABBITS FLOWER SKIPPPING ROPE',
 'SET/10 BLUE POLKADOT PARTY CANDLES',
 'CUPCAKE LACE PAPER SET 6',
 'PACK OF 72 RETROSPOT CAKE CASES',
 'SET 3 SONG BIRD PAPER EGGS ASSORTED',
 'PACK 6 HEART/ICE-CREAM PATCHES',
 'TEA TIME TEA SET IN GIFT BOX',
 'BAKING MOULD CHOCOLATE CUPCAKES',
 'RED RETROSPOT TRADITIONAL TEAPOT ',
 'SET OF 3 BUTTERFLY COOKIE CUTTERS',
 'FAIRY CAKES NOTEBOOK A6 SIZE',
 'SET OF 36 TEATIME PAPER DOILIES',
 'SET OF 20 KIDS COOKIE CUTTERS',
 'LAVENDER SCENTED FABRIC HEART',
 'SET OF 9 HEART SHAPED BALLOONS',
 'RED LOVE HEART SHAPE CUP',
 'LOVE HEART TRINKET POT',
 'CERAMIC BOWL WITH LOVE HEART DESIGN',
 'WHITE HEART CONFETTI IN TUBE',
 'LARGE CAKE STAND HANGING HEARTS',
 'PINK  HEART CONFETTI IN TUBE',
 'HAND WARMER RED RETROSPOT',
 'OFFICE MUG WARMER POLKADOT',
 'DANISH ROSE ROUND SEWING BOX',
 'CALENDAR PAPER CUT DESIGN',
 'CALENDAR IN SEASON DESIGN',
 'RED RETROSPOT SHOPPING BAG',
 'CALENDAR FAMILY FAVOURITES',
 'GIN AND TONIC MUG',
 'SILVER MUG BONE CHINA TREE OF LIFE',
 'LOCAL CAFE MUG',
 'RETROSPOT BABUSHKA DOORSTOP',
 'SET OF 4 SANTA PLACE SETTINGS',
 'EDWARDIAN PARASOL BLACK',
 'GINGHAM BABUSHKA DOORSTOP',
 'BOX OF 6 CHRISTMAS CAKE DECORATIONS',
 'PINK/WHITE "KEEP CLEAN" BULLET BIN',
 'OWL DOORSTOP',
 'RED RETROSPOT TEA CUP AND SAUCER ',
 'RED RETROSPOT MUG',
 'EDWARDIAN PARASOL PINK',
 'HOT WATER BOTTLE KEEP CALM',
 'SQUARE CHERRY BLOSSOM CABINET',
 'TEA PARTY BIRTHDAY CARD',
 'RAINY LADIES BIRTHDAY CARD',
 'ENGLISH ROSE HOT WATER BOTTLE',
 'LOVE HOT WATER BOTTLE',
 'RED WOOLLY HOTTIE WHITE HEART.',
 'BLACK SILOUETTE CANDLE PLATE',
 "BLACK SIL'T SQU CANDLE PLATE ",
 '6 CHOCOLATE LOVE HEART T-LIGHTS',
 'BLUE POT PLANT CANDLE ',
 'PINK POT PLANT CANDLE',
 'HOMEMADE JAM SCENTED CANDLES',
 'GRAND CHOCOLATECANDLE',
 'S/4 CACTI CANDLES',
 'FANCY FONT BIRTHDAY CARD, ',
 'RING OF ROSES BIRTHDAY CARD',
 'ELEPHANT BIRTHDAY CARD ',
 'EMPIRE BIRTHDAY CARD',
 'PENNY FARTHING BIRTHDAY CARD',
 'CARD CIRCUS PARADE',
 'SPACEBOY BIRTHDAY CARD',
 'CARD DOLLY GIRL ',
 'RETROSPOT HEART HOT WATER BOTTLE',
 'HOT WATER BOTTLE SEX BOMB',
 'KNITTED UNION FLAG HOT WATER BOTTLE',
 'HOT STUFF HOT WATER BOTTLE',
 'PINK AND WHITE CHRISTMAS TREE 120CM',
 'PINK/WHITE CHRISTMAS TREE 60CM',
 'BLACK CHRISTMAS TREE 120CM',
 'BLACK CHRISTMAS TREE 60CM',
 'EDWARDIAN PARASOL RED',
 'SET OF 2 CHRISTMAS DECOUPAGE CANDLE',
 'CARD PSYCHEDELIC APPLES',
 'CARD GINGHAM ROSE ',
 'CARD SUKI BIRTHDAY',
 'BIRTHDAY CARD, RETRO SPOT',
 'CARD PARTY GAMES ',
 'CARD CAT AND TREE ',
 'CARD BIRTHDAY COWBOY',
 'CARD DOG AND BALL ',
 'WOODEN ADVENT CALENDAR RED',
 '200 BENDY SKULL STRAWS',
 '3 PIECE SPACEBOY COOKIE CUTTER SET',
 'GINGERBREAD MAN COOKIE CUTTER',
 'PINK DINER WALL CLOCK',
 'OVEN MITT APPLES DESIGN',
 'BOTANICAL GARDENS WALL CLOCK ',
 'RED DINER WALL CLOCK',
 "CLOCK MAGNET MUM'S KITCHEN",
 'BULL DOG BOTTLE TOP WALL CLOCK',
 'JAM CLOCK MAGNET',
 'BLUE REFECTORY CLOCK ',
 'IVORY DINER WALL CLOCK',
 'RED SPOTTY BISCUIT TIN',
 "BISCUIT TIN 50'S CHRISTMAS",
 'KNEELING MAT HOUSEWORK  DESIGN',
 'BULL DOG BOTTLE OPENER',
 'VINTAGE LEAF MAGNETIC NOTEPAD',
 'KINGS CHOICE BISCUIT TIN',
 'SKETCHBOOK MAGNETIC SHOPPING LIST',
 'BREAD BIN DINER STYLE RED ',
 'CLASSIC CAFE SUGAR DISPENSER',
 'SET 3 RETROSPOT TEA,COFFEE,SUGAR',
 'WHITE TEA,COFFEE,SUGAR JARS',
 'BLACK TEA,COFFEE,SUGAR JARS',
 'KINGS CHOICE TEA CADDY ',
 'BREAD BIN DINER STYLE IVORY',
 'VINTAGE KID DOLLY CARD ',
 'IVORY REFECTORY CLOCK',
 'BANQUET BIRTHDAY  CARD  ',
 'CHOC TRUFFLE GOLD TRINKET POT ',
 'CERAMIC STRAWBERRY TRINKET TRAY',
 '200 RED + WHITE BENDY STRAWS',
 'LARGE CAKE STAND  HANGING STRAWBERY',
 'FAIRY CAKE DESIGN UMBRELLA',
 'EDWARDIAN PARASOL NATURAL',
 'CERAMIC BOWL WITH STRAWBERRY DESIGN',
 'METAL SIGN CUPCAKE SINGLE HOOK',
 'TV DINNER TRAY AIR HOSTESS ',
 'MRS ROBOT SOFT TOY',
 'METAL SIGN,CUPCAKE SINGLE HOOK',
 'FRENCH ENAMEL POT W LID',
 'MR ROBOT SOFT TOY',
 'WOOD BLACK BOARD ANT WHITE FINISH',
 'SET OF 3 CAKE TINS SKETCHBOOK',
 'VINTAGE BLUE KITCHEN CABINET',
 'VINTAGE RED KITCHEN CABINET',
 'LOVE SEAT ANTIQUE WHITE METAL',
 'SIX DRAWER OFFICE TIDY',
 'ABC TREASURE BOOK BOX ',
 'FELTCRAFT GIRL AMELIE KIT',
 'RECYCLED ACAPULCO MAT PINK',
 'RECYCLED ACAPULCO MAT BLUE',
 'CHEST OF DRAWERS GINGHAM HEART ',
 'IVORY GIANT GARDEN THERMOMETER',
 "DOCTOR'S BAG SOFT TOY",
 "NURSE'S BAG SOFT TOY",
 'BLUE GIANT GARDEN THERMOMETER',
 'FRYING PAN RED RETROSPOT',
 'PARTY BUNTING',
 'JAM JAR WITH PINK LID',
 'JAM JAR WITH GREEN LID',
 'FRYING PAN UNION FLAG',
 'EMPIRE UNION JACK TV DINNER TRAY',
 'PICNIC BASKET WICKER SMALL',
 'RECYCLED ACAPULCO MAT RED',
 'RECYCLED ACAPULCO MAT GREEN',
 'GREEN GIANT GARDEN THERMOMETER',
 'TOILET SIGN OCCUPIED OR VACANT',
 'JUMBO BAG APPLES',
 'JUMBO BAG VINTAGE LEAF',
 'DOORMAT VINTAGE LEAVES DESIGN ',
 'DOORMAT KEEP CALM AND COME IN',
 'BUNDLE OF 3 RETRO NOTE BOOKS',
 'NO SINGING METAL SIGN',
 'GYMKHANA TREASURE BOOK BOX',
 'FIRST AID TIN',
 'TRAVEL SEWING KIT',
 'GIRAFFE WOODEN RULER',
 'DOORMAT RESPECTABLE HOUSE',
 'PACK OF 20 NAPKINS PANTRY DESIGN',
 'PACK OF 20 NAPKINS RED APPLES',
 'FULL ENGLISH BREAKFAST PLATE',
 'FRENCH STYLE EMBOSSED HEART CABINET',
 'WATERING CAN GARDEN MARKER',
 'LUNCH BAG APPLE DESIGN',
 'LUNCH BAG VINTAGE LEAF DESIGN',
 'PICNIC BASKET WICKER LARGE',
 'PHARMACIE FIRST AID TIN',
 'BROCANTE COAT RACK',
 'HERB MARKER THYME',
 'GAOLERS KEYS DECORATIVE GARDEN ',
 'MA CAMPAGNE CUTLERY BOX',
 'TV DINNER TRAY DOLLY GIRL',
 '3 TIER CAKE TIN RED AND CREAM',
 'ROUND CAKE TIN VINTAGE RED',
 'ROUND CAKE TIN VINTAGE GREEN',
 'VINTAGE CREAM CAT FOOD CONTAINER',
 'DOG BOWL VINTAGE CREAM',
 'ENAMEL BLUE RIM BISCUIT BIN',
 ' SET 2 TEA TOWELS I LOVE LONDON ',
 'CHILDS BREAKFAST SET CIRCUS PARADE',
 'BLUE DINER WALL CLOCK',
 'BREAD BIN DINER STYLE MINT',
 'SPACEBOY TV DINNER TRAY',
 'JUMBO STORAGE BAG SUKI',
 'PEG BAG APPLES DESIGN',
 'RED KITCHEN SCALES',
 'BLACK KITCHEN SCALES',
 'VINTAGE SNAP CARDS',
 'JUMBO  BAG BAROQUE BLACK WHITE',
 'EASTER TIN CHICKS PINK DAISY',
 'SWEETHEART WIRE FRUIT BOWL',
 'HERB MARKER PARSLEY',
 'VINTAGE SNAKES & LADDERS',
 'HERB MARKER ROSEMARY',
 'HERB MARKER MINT',
 'HERB MARKER BASIL',
 'WRAP WEDDING DAY',
 'WRAP ALPHABET DESIGN',
 'JUMBO SHOPPER VINTAGE RED PAISLEY',
 'RUSTIC  SEVENTEEN DRAWER SIDEBOARD',
 'EASTER TIN KEEPSAKE',
 'YELLOW COAT RACK PARIS FASHION',
 'JUMBO BAG SPACEBOY DESIGN',
 'LUNCH BOX I LOVE LONDON',
 'JAM MAKING SET PRINTED',
 'RECIPE BOX BLUE SKETCHBOOK DESIGN',
 'SWEETHEART CAKESTAND 3 TIER',
 'BLUE COAT RACK PARIS FASHION',
 'JUMBO BAG RED RETROSPOT',
 'JUMBO BAG STRAWBERRY',
 'COOK WITH WINE METAL SIGN ',
 'DAIRY MAID TRADITIONAL TEAPOT ',
 'FUNKY WASHING UP GLOVES ASSORTED',
 'SET 36 COLOUR PENCILS DOLLY GIRL',
 'SET 36 COLOUR PENCILS SPACEBOY ',
 'SET 36 COLOURING PENCILS DOILY',
 'SET OF 4 KNICK KNACK TINS POPPIES',
 'SET OF 4 KNICK KNACK TINS LONDON ',
 'SET OF 4 KNICK KNACK TINS LEAF',
 'ZINC BOX SIGN HOME',
 'PANTRY 3 HOOK ROLLING PIN HANGER',
 'METAL SIGN DROP YOUR PANTS',
 'VINTAGE COFFEE GRINDER BOX',
 'HOME SWEET HOME BLACKBOARD',
 'FOOT STOOL HOME SWEET HOME ',
 'JUMBO BAG PEARS',
 'VINTAGE  2 METRE FOLDING RULER',
 ' I LOVE LONDON MINI BACKPACK',
 'SILVER BELLS TABLE DECORATION',
 'PLAYING CARDS JUBILEE UNION JACK',
 'DOLLY GIRL MINI BACKPACK',
 'SET 12 RETRO WHITE CHALK STICKS',
 'GINGHAM RECIPE BOOK BOX',
 "WALL ART 70'S ALPHABET ",
 ' NINE DRAWER OFFICE TIDY',
 'DOORMAT FANCY FONT HOME SWEET HOME',
 'GLASS APOTHECARY BOTTLE PERFUME',
 'GLASS APOTHECARY BOTTLE TONIC',
 'GLASS BONNE JAM JAR',
 'WHITE WOOD GARDEN PLANT LADDER',
 'PARISIENNE KEY CABINET ',
 'DOORMAT HOME SWEET HOME BLUE ',
 'WALL ART BICYCLE SAFETY',
 'WALL ART VILLAGE SHOW ',
 'WALL ART I LOVE LONDON ',
 'GARDENERS KNEELING PAD KEEP CALM ',
 'POPPY FIELDS CHOPPING BOARD',
 'VINTAGE LEAF CHOPPING BOARD  ',
 'WALL ART SPACEBOY',
 'WALL ART DOLLY GIRL ',
 'WALL ART BIG LOVE ',
 'WALL ART ONLY ONE PERSON ',
 'WALL ART DOG LICENCE ',
 'SUKI  SHOULDER BAG',
 'PIN CUSHION BABUSHKA PINK',
 'WALL ART STOP FOR TEA ',
 'SWEETHEART WIRE MAGAZINE RACK',
 'SWEETHEART RECIPE BOOK STAND',
 'LE GRAND TRAY CHIC SET',
 'SWEETHEART WIRE WALL TIDY',
 'GLASS CLOCHE SMALL',
 'SPACEBOY BEAKER',
 'MEASURING TAPE BABUSHKA PINK',
 ' DOLLY GIRL BEAKER',
 'BLUE VINTAGE SPOT BEAKER',
 'PINK VINTAGE SPOT BEAKER',
 'GREEN VINTAGE SPOT BEAKER',
 'LUNCH BOX WITH CUTLERY RETROSPOT ',
 'GREEN POLKADOT BOWL',
 'RED VINTAGE SPOT BEAKER',
 'ROUND SNACK BOXES SET OF 4 FRUITS ',
 'LOLITA  DESIGN  COTTON TOTE BAG',
 'STRAWBERRY LUNCH BOX WITH CUTLERY',
 'DINOSAUR LUNCH BOX WITH CUTLERY',
 'LETS GO SHOPPING COTTON TOTE BAG',
 'MAKE YOUR OWN PLAYTIME CARD KIT',
 ' SPACEBOY BABY GIFT SET',
 'SKULL LUNCH BOX WITH CUTLERY ',
 'PACK OF 20 SKULL PAPER NAPKINS',
 'FLYING PIG WATERING CAN',
 'WATERING CAN GREEN DINOSAUR',
 'WATERING CAN BLUE ELEPHANT',
 'BUTTERFLIES STICKERS',
 'FLOWERS  STICKERS',
 'ALPHABET HEARTS STICKER SHEET',
 'CHILDRENS CUTLERY POLKADOT GREEN ',
 'JUMBO BAG OWLS',
 'JUMBO BAG PINK VINTAGE PAISLEY',
 'PINK HORSE SOCK PUPPET',
 'ROCKING HORSE RED CHRISTMAS ',
 'ROCKING HORSE GREEN CHRISTMAS ',
 'FELTCRAFT DOLL EMILY',
 'FELTCRAFT DOLL MOLLY',
 'CHILDRENS APRON SPACEBOY DESIGN',
 'CHILDRENS APRON APPLES DESIGN',
 'WOOD STOCKING CHRISTMAS SCANDISPOT',
 'FELTCRAFT CHRISTMAS FAIRY',
 'CHILDRENS CUTLERY RETROSPOT RED ',
 'BOX OF 6 MINI VINTAGE CRACKERS',
 'FELTCRAFT BOY JEAN-PAUL KIT',
 'CARD MOTORBIKE SANTA',
 'CARD CHRISTMAS VILLAGE',
 'SET 7 BABUSHKA NESTING BOXES',
 'PACK 3 BOXES CHRISTMAS PANNETONE',
 'PACK 3 BOXES BIRD PANNETONE ',
 'SET OF 20 VINTAGE CHRISTMAS NAPKINS',
 'CHRISTMAS CRAFT TREE TOP ANGEL',
 'CHRISTMAS CRAFT LITTLE FRIENDS',

In [7]:
# Printing all the unique records of a column
# This concludes that the InvoiceNo is irrelevant to the prediction model

df['InvoiceNo'].unique().tolist()

[541431,
 'C541433',
 562032,
 542237,
 573511,
 556201,
 549222,
 537626,
 581180,
 541998,
 568172,
 548955,
 539318,
 577609,
 543037,
 544156,
 567505,
 545332,
 'C545330',
 'C545329',
 545323,
 546869,
 547390,
 'C547388',
 568699,
 574275,
 553900,
 550911,
 552449,
 549435,
 541430,
 576895,
 574740,
 559707,
 581232,
 'C549955',
 540946,
 571034,
 555477,
 'C580165',
 543370,
 563749,
 554132,
 571705,
 545017,
 573173,
 572887,
 544203,
 559295,
 563037,
 'C544902',
 574329,
 'C563752',
 568651,
 'C579178',
 580979,
 570667,
 551346,
 549687,
 563947,
 563854,
 573401,
 580152,
 567897,
 544574,
 'C544577',
 544578,
 580716,
 538826,
 571905,
 546236,
 539330,
 570521,
 572770,
 568872,
 552731,
 544157,
 542887,
 576345,
 579281,
 565333,
 'C581071',
 539488,
 542586,
 562046,
 567196,
 557789,
 'C559193',
 555739,
 577180,
 'C572532',
 567928,
 571187,
 570681,
 570725,
 574694,
 563100,
 580638,
 'C565050',
 555928,
 'C541586',
 550284,
 540971,
 546434,
 539840,
 'C567540',
 575734,
 562882,
 537676,
 540280,
 568145,
 578459,
 543357,
 560033,
 541271,
 546135,
 567530,
 577228,
 549313,
 541149,
 540700,
 568708,
 552188,
 569997,
 575151,
 558623,
 539447,
 'C578432',
 'C544419',
 552884,
 'C540152',
 575154,
 551985,
 569496,
 537026,
 563852,
 577551,
 543733,
 547517,
 561507,
 574336,
 572567,
 552543,
 563172,
 547412,
 556203,
 543537,
 541675,
 'C572187',
 572184,
 559928,
 577126,
 'C562728',
 556127,
 559058,
 572133,
 547061,
 561662,
 550440,
 565246,
 547685,
 574862,
 557147,
 'C558471',
 'C549533',
 'C549253',
 547684,
 'C574865',
 'C567643',
 567642,
 'C567641',
 556415,
 'C567677',
 567721,
 'C563224',
 543180,
 543181,
 'C543773',
 568223,
 557889,
 561102,
 540365,
 'C540853',
 569402,
 'C540367',
 550338,
 543027,
 550998,
 552202,
 553546,
 569650,
 'C560540',
 560491,
 569647,
 556917,
 565145,
 565146,
 543989,
 563614,
 540557,
 540267,
 576394,
 576586,
 574138,
 574014,
 'C574019',
 556918,
 559919,
 'C574344',
 559920,
 554037,
 'C545525',
 545475,
 'C551348',
 548661,
 564378,
 580965,
 562445,
 555574,
 573656,
 'C575669',
 541991,
 551398,
 539391,
 545536,
 'C540386',
 'C546208',
 563756,
 570000,
 578339,
 541980,
 563518,
 'C557300',
 557297,
 541520,
 558041,
 565466,
 581493,
 554147,
 539676,
 555161,
 544474,
 549249,
 547109,
 564853,
 'C565294',
 558536,
 558537,
 567929,
 554985,
 570452,
 'C539866',
 577135,
 536861,
 'C579090',
 545227,
 549588,
 559004,
 'C547234',
 563020,
 576082,
 'C564108',
 548363,
 'C549184',
 547086,
 545336,
 545226,
 557427,
 538003,
 579881,
 551054,
 573108,
 536389,
 569722,
 552956,
 539419,
 563179,
 554126,
 545065,
 'C555046',
 574469,
 542542,
 'C555288',
 569723,
 560473,
 561040,
 'C561227',
 561228,
 544193,
 570446,
 557472,
 557474,
 557754,
 573195,
 573200,
 536532,
 566195,
 579692,
 573035,
 581476,
 581491,
 537868,
 567085,
 'C548729',
 547659,
 'C538723',
 567526,
 546780,
 565124,
 567910,
 574252,
 574093,
 551389,
 546765,
 556816,
 553577,
 543030,
 573036,
 577344,
 'C542714',
 540972,
 581279,
 565322,
 565321,
 554555,
 544817,
 544818,
 579870,
 578811,
 560991,
 537693,
 580955,
 557621,
 566773,
 570793,
 562844,
 577314,
 577125,
 571035,
 549559,
 572886,
 577046,
 562034,
 555572,
 566076,
 559148,
 557303,
 541518,
 577157,
 569653,
 'C560219',
 552013,
 579259,
 578099,
 578123,
 'C578122',
 561627,
 'C571499',
 571255,
 568554,
 544097,
 555470,
 559135,
 562287,
 544331,
 548212,
 561898,
 'C564134',
 572896,
 550188,
 566756,
 'C569490',
 569489,
 566916,
 'C570835',
 550281,
 567188,
 'C562118',
 'C550672',
 550671,
 'C550668',
 545084,
 568950,
 559372,
 565785,
 543541,
 'C544397',
 'C581148',
 577606,
 557232,
 549825,
 553415,
 'C549827',
 571445,
 'C554531',
 'C572479',
 554159,
 564481,
 554161,
 579441,
 559890,
 545140,
 543117,
 577087,
 'C580168',
 557885,
 578084,
 555523,
 542371,
 'C560564',
 581179,
 558841,
 576909,
 564360,
 559300,
 559298,
 563950,
 574097,
 'C549438',
 569640,
 569639,
 546920,
 546921,
 'C578062',
 538174,
 543056,
 566984,
 'C540346',
 544811,
 541093,
 564309,
 538175,
 548745,
 578333,
 579416,
 548746,
 'C539644',
 'C573037',
 'C544570',
 'C561328',
 578469,
 'C547968',
 'C540158',
 'C570727',
 567924,
 'C536622',
 'C542101',
 539395,
 'C565925',
 539398,
 'C575150',
 553038,
 'C553840',
 'C547849',
 553037,
 579419,
 'C565284',
 'C540643',
 'C543661',
 537201,
 561037,
 'C536548',
 'C575223',
 'C548356',
 546843,
 571824,
 556578,
 'C575064',
 542215,
 'C559253',
 'C543347',
 574885,
 563540,
 571328,
 555162,
 575632,
 'C575635',
 575636,
 'C575638',
 'C555881',
 'C555163',
 542229,
 571312,
 578043,
 558109,
 'C543431',
 576607,
 553547,
 570640,
 'C547581',
 'C549019',
 559710,
 547005,
 561094,
 541224,
 554263,
 'C554266',
 'C554336',
 'C567519',
 547934,
 'C547582',
 557569,
 572061,
 565261,
 544996,
 'C572488',
 'C537333',
 'C565085',
 'C574061',
 541125,
 'C576974',
 571308,
 'C543830',
 543833,
 552008,
 'C553924',
 542648,
 576327,
 'C566986',
 'C581409',
 538644,
 'C538643',
 'C538642',
 566987,
 'C576183',
 'C562281',
 572560,
 572559,
 560901,
 550527,
 578472,
 'C552043',
 576910,
 570002,
 550137,
 'C566090',
 543737,
 'C564142',
 571227,
 564856,
 'C542798',
 580752,
 'C580740',
 579152,
 'C580714',
 540480,
 560569,
 546851,
 575896,
 537892,
 553731,
 539636,
 553732,
 556517,
 'C549098',
 540414,
 569563,
 547925,
 547926,
 576893,
 'C551864',
 565287,
 551278,
 556194,
 553674,
 'C540057',
 573333,
 'C551585',
 540040,
 552717,
 578089,
 'C575081',
 'C578090',
 540469,
 564858,
 574550,
 564734,
 574838,
 557007,
 'C569370',
 'C545728',
 568137,
 573442,
 579529,
 540463,
 564912,
 574068,
 541120,
 580536,
 565854,
 561029,
 552325,
 557489,
 577856,
 576222,
 573868,
 570189,
 564666,
 558124,
 554826,
 'C555100',
 'C539114',
 539113,
 558699,
 573402,
 578348,
 'C539104',
 554940,
 537967,
 544200,
 'C544609',
 'C540151',
 'C579532',
 'C559049',
 567298,
 570881,
 577301,
 577299,
 576869,
 564475,
 569727,
 557972,
 571729,
 571739,
 544281,
 546919,
 572134,
 'C569733',
 545557,
 540553,
 'C574347',
 540458,
 'C542537',
 546755,
 562273,
 565519,
 543055,
 552040,
 'C540271',
 575352,
 'C577397',
 577776,
 'C577775',
 'C543743',
 550821,
 543822,
 561669,
 559187,
 'C559175',
 575692,
 576064,
 545181,
 541491,
 560607,
 569527,
 569529,
 563753,
 'C567091',
 546875,
 539752,
 567959,
 556469,
 555383,
 575886,
 568472,
 562537,
 'C575839',
 575888,
 563914,
 570718,
 568103,
 581494,
 575787,
 570007,
 567666,
 546365,
 'C546886',
 547715,
 560728,
 553741,
 560635,
 571904,
 573629,
 577512,
 572925,
 567657,
 'C573869',
 561470,
 548553,
 569921,
 544585,
 564226,
 'C581316',
 540851,
 563897,
 546770,
 545533,
 551529,
 579786,
 540562,
 558608,
 553842,
 544483,
 570082,
 571304,
 581574,
 565765,
 567291,
 541480,
 544340,
 542621,
 563548,
 545916,
 'C563751',
 579747,
 559899,
 'C547806',
 570095,
 550665,
 540410,
 562605,
 570637,
 'C564104',
 578705,
 575326,
 561911,
 566074,
 555637,
 570672,
 'C580263',
 573077,
 'C573079',
 573080,
 575707,
 542303,
 540550,
 547387,
 'C542348',
 577039,
 551868,
 555726,
 568001,
 538525,
 569998,
 561093,
 542905,
 571665,
 566040,
 564201,
 540801,
 547703,
 'C567521',
 567340,
 559173,
 555095,
 577476,
 'C541654',
 575144,
 557314,
 545585,
 575514,
 574301,
 'C575531',
 568179,
 547790,
 'C569422',
 567968,
 572442,
 545647,
 554792,
 558108,
 567653,
 539351,
 573508,
 573768,
 545583,
 547722,
 541138,
 544423,
 'C544422',
 570841,
 559422,
 'C543834',
 'C579562',
 553843,
 563926,
 576245,
 580120,
 'C542088',
 559665,
 572065,
 558871,
 547972,
 540785,
 536944,
 578321,
 580158,
 'C581229',
 541877,
 542926,
 'C542924',
 580511,
 560590,
 'C564913',
 563853,
 543587,
 571240,
 557069,
 567191,
 562450,
 554648,
 576941,
 580126,
 547520,
 544838,
 'C545507',
 566739,
 'C568580',
 537065,
 555936,
 'C555935',
 565443,
 555933,
 543188,
 556507,
 554097,
 564173,
 576927,
 537468,
 569907,
 569867,
 562729,
 'C564331',
 564329,
 580531,
 548654,
 551818,
 551886,
 560545,
 560544,
 580154,
 581183,
 581184,
 550162,
 578295,
 580548,
 565777,
 579901,
 558626,
 566059,
 576789,
 576790,
 'C550611',
 556114,
 572895,
 572894,
 572060,
 563373,
 565423,
 570784,
 574255,
 550004,
 'C576816',
 576390,
 562894,
 573428,
 'C572275',
 579927,
 571724,
 551163,
 542425,
 565470,
 551988,
 574343,
 'C561104',
 543411,
 559834,
 574501,
 539050,
 574506,
 'C574512',
 541115,
 577316,
 'C540129',
 'C542273',
 567915,
 'C567916',
 'C568534',
 549193,
 573417,
 550192,
 544886,
 556463,
 567552,
 543625,
 569120,
 536370,
 546373,
 540455,
 581001,
 564471,
 559441,
 577687,
 'C543992',
 554134,
 575067,
 557627,
 'C571127',
 570851,
 'C568244',
 577809,
 555843,
 'C576216',
 567478,
 545664,
 'C558439',
 580746,
 'C546501',
 561259,
 'C579864',
 'C569949',
 570919,
 562424,
 'C562425',
 'C572761',
 573365,
 'C562423',
 'C579785',
 539957,
 'C550171',
 'C540243',
 550620,
 578078,
 'C537232',
 580265,
 573588,
 560363,
 575747,
 552978,
 552980,
 'C555366',
 542238,
 552649,
 566054,
 551887,
 562039,
 564159,
 550606,
 547914,
 562922,
 555107,
 556119,
 572457,
 541703,
 574022,
 547931,
 544399,
 'C547930',
 549682,
 571851,
 577523,
 573362,
 556241,
 546760,
 'C574894',
 558687,
 575845,
 545105,
 579634,
 551552,
 551539,
 568994,
 577502,
 'C545837',
 545051,
 558334,
 553195,
 543459,
 575629,
 562520,
 559685,
 567134,
 575750,
 539327,
 536967,
 563776,
 543048,
 551467,
 560230,
 547085,
 553884,
 'C553414',
 548412,
 540769,
 555417,
 543550,
 553885,
 'C555013',
 570724,
 577168,
 ...]

In [8]:
# Description and InvoiceNo play no significant role in the prediction model
# Hence Dropping  Description and InvoiceNo

df.drop('Description', axis=1, inplace=True)
df.drop('InvoiceNo', axis=1, inplace=True)

In [9]:
# To ensure secured dropping of columns
# printing all the column names
list(df.columns.values)

['StockCode', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

In [10]:
# checking if null values are present
df.isnull().sum()

StockCode           0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [11]:
# Dropping tuples where the customerID is null
# Becomes irrelevant to the Prediction Model

df.dropna(subset=['CustomerID'], inplace = True)
df.isnull().sum()

StockCode      0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [12]:
# Checking the datatypes of columns
print(df.dtypes)

StockCode              object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [13]:
# Inserting a column to determine the total purchase 

df['Total'] = df['Quantity'] * df['UnitPrice']
df.describe()

            Quantity      UnitPrice     CustomerID          Total
count  406829.000000  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570      20.401854
std       248.693370      69.315162    1713.600303     427.591718
min    -80995.000000       0.000000   12346.000000 -168469.600000
25%         2.000000       1.250000   13953.000000       4.200000
50%         5.000000       1.950000   15152.000000      11.100000
75%        12.000000       3.750000   16791.000000      19.500000
max     80995.000000   38970.000000   18287.000000  168469.600000

In [14]:
# Printing all the unique records of a column
# This concludes that the Country is irrelevant to the prediction model
countrylist = df['Country'].unique()

countrydf = pd.DataFrame(countrylist, columns =['countryName'])
countrydf

             countryName
0         United Kingdom
1                Iceland
2                Finland
3                  Italy
4                 Norway
5                Bahrain
6                  Spain
7               Portugal
8            Switzerland
9                Austria
10                Cyprus
11               Belgium
12           Unspecified
13               Denmark
14             Australia
15                France
16               Germany
17                   RSA
18                Greece
19                Sweden
20                Israel
21                   USA
22          Saudi Arabia
23                Poland
24  United Arab Emirates
25             Singapore
26                 Japan
27           Netherlands
28               Lebanon
29                Brazil
30        Czech Republic
31                  EIRE
32       Channel Islands
33    European Community
34             Lithuania
35                Canada
36                 Malta

In [15]:
# Generating CodeNumber for Countries
# This makes country-based predictions a lot easier

# converting type of columns to 'category'
df['Country'] = df['Country'].astype('category')

# Assigning numerical values and storing in another column
df['codeNo'] = df['Country'].cat.codes

df.head(30)

,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total,codeNo
61619,23166,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.60,35
61624,23166,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.60,35
286628,21578,6,2011-08-02 08:48:00,2.25,12347.0,Iceland,13.50,16
72263,47559B,10,2011-01-26 14:30:00,1.25,12347.0,Iceland,12.50,16
72264,21154,10,2011-01-26 14:30:00,1.25,12347.0,Iceland,12.50,16
72265,21041,6,2011-01-26 14:30:00,2.95,12347.0,Iceland,17.70,16
72266,21035,6,2011-01-26 14:30:00,2.95,12347.0,Iceland,17.70,16
72267,22423,3,2011-01-26 14:30:00,12.75,12347.0,Iceland,38.25,16
72268,84969,6,2011-01-26 14:30:00,4.25,12347.0,Iceland,25.50,16
72269,22134,12,2011-01-26 14:30:00,0.42,12347.0,Iceland,5.04,16
72270,21832,12,2011-01-26 14:30:00,1.65,12347.0,Iceland,19.80,16
286624,22374,4,2011-08-02 08:48:00,4.25,12347.0,Iceland,17.00,16
428957,23480,12,2011-10-31 12:25:00,3.75,12347.0,Iceland,45.00,16
428958,21265,12,2011-10-31 12:25:00,1.95,12347.0,Iceland,23.40,16
428959,21636,12,2011-10-31 12:25:00,0.75,12347.0,Iceland,9.00,16
428960,22372,4,2011-10-31 12:25:00,4.25,12347.0,Iceland,17.00,16
428961,22375,8,2011-10-31 12:25:00,4.25,12347.0,Iceland,34.00,16
428962,22371,12,2011-10-31 12:25:00,3.95,12347.0,Iceland,47.40,16
428963,22374,8,2011-10-31 12:25:00,4.25,12347.0,Iceland,34.00,16
428964,22252,12,2011-10-31 12:25:00,1.25,12347.0,Iceland,15.00,16
72262,22417,24,2011-01-26 14:30:00,0.55,12347.0,Iceland,13.20,16
72261,21976,24,2011-01-26 14:30:00,0.55,12347.0,Iceland,13.20,16
72260,84991,24,2011-01-26 14:30:00,0.55,12347.0,Iceland,13.20,16
72259,84992,24,2011-01-26 14:30:00,0.55,12347.0,Iceland,13.20,16
220582,85178,12,2011-06-09 13:01:00,1.25,12347.0,Iceland,15.00,16
220581,22375,4,2011-06-09 13:01:00,4.25,12347.0,Iceland,17.00,16
220580,22371,8,2011-06-09 13:01:00,4.25,12347.0,Iceland,34.00,16
220579,23175,4,2011-06-09 13:01:00,3.25,12347.0,Iceland,13.00,16
428979,23506,20,2011-10-31 12:25:00,0.42,12347.0,Iceland,8.40,16
220577,23173,2,2011-06-09 13:01:00,9.95,12347.0,Iceland,19.90,16

In [16]:
# Checking if null values are present
# More focussed towards ensuring codeNo is filled in properly
df.isnull().sum()

StockCode      0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Total          0
codeNo         0
dtype: int64

In [17]:
# Checking for one parameter 
# whether the codeNo has been correctly mapped or not
count = 0

if ((df['Country']=='United Kingdom') & (df['codeNo'] != 35)).any():
    count += 1
    
print(count)

0

In [18]:
# TODO
# checking for all 'country' parameter rightly mapped
checker_df = df.loc[(df['Country']=='France') & (df['codeNo'] != 13)]
checker_df.head(10)

Empty DataFrame
Columns: [StockCode, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Total, codeNo]
Index: []

In [19]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [20]:
#target variable creation
training_df=df[(df['InvoiceDate'] >= pd.Timestamp(2010,12,2)) & (df['InvoiceDate'] <= pd.Timestamp(2011,8,31))]

training_df.head()

,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total,codeNo
61619,23166,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6,35
61624,23166,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.6,35
286628,21578,6,2011-08-02 08:48:00,2.25,12347.0,Iceland,13.5,16
72263,47559B,10,2011-01-26 14:30:00,1.25,12347.0,Iceland,12.5,16
72264,21154,10,2011-01-26 14:30:00,1.25,12347.0,Iceland,12.5,16

In [21]:
not_churn_df=df[(df['InvoiceDate'] >= pd.Timestamp(2011,9,1)) & (df['InvoiceDate'] <= pd.Timestamp(2011,12,31))]

not_churn_df.head()

,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total,codeNo
428957,23480,12,2011-10-31 12:25:00,3.75,12347.0,Iceland,45.0,16
428958,21265,12,2011-10-31 12:25:00,1.95,12347.0,Iceland,23.4,16
428959,21636,12,2011-10-31 12:25:00,0.75,12347.0,Iceland,9.0,16
428960,22372,4,2011-10-31 12:25:00,4.25,12347.0,Iceland,17.0,16
428961,22375,8,2011-10-31 12:25:00,4.25,12347.0,Iceland,34.0,16

In [22]:
cust_id= training_df.CustomerID.unique()
cust_id

array([12346., 12347., 12348., ..., 18282., 18283., 18287.])

In [23]:
not_churn_id= not_churn_df.CustomerID.unique()
not_churn_id

array([12347., 12348., 12349., ..., 18282., 18283., 18287.])

In [24]:
churn_id=[]
for i in cust_id:
    if i not in not_churn_id:
        churn_id.append(i)

In [25]:
df=df.assign(Churn=[1 if x in churn_id else 0 for x in df['CustomerID']])
df.head()

,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total,codeNo,Churn
61619,23166,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6,35,1
61624,23166,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.6,35,1
286628,21578,6,2011-08-02 08:48:00,2.25,12347.0,Iceland,13.5,16,0
72263,47559B,10,2011-01-26 14:30:00,1.25,12347.0,Iceland,12.5,16,0
72264,21154,10,2011-01-26 14:30:00,1.25,12347.0,Iceland,12.5,16,0

In [26]:
df=df.drop(['StockCode','codeNo','InvoiceDate', 'CustomerID'],axis=1)

In [27]:
df.head()

        Quantity  UnitPrice         Country    Total  Churn
61619      74215       1.04  United Kingdom  77183.6      1
61624     -74215       1.04  United Kingdom -77183.6      1
286628         6       2.25         Iceland     13.5      0
72263         10       1.25         Iceland     12.5      0
72264         10       1.25         Iceland     12.5      0

In [28]:
df=df.dropna(axis=1)
df_with_sep_countries= pd.get_dummies(df)
df_with_sep_countries

,Quantity,UnitPrice,Total,Churn,Country_Australia,Country_Austria,Country_Bahrain,Country_Belgium,Country_Brazil,Country_Canada,...,Country_RSA,Country_Saudi Arabia,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified
61619,74215,1.04,77183.60,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
61624,-74215,1.04,-77183.60,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
286628,6,2.25,13.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72263,10,1.25,12.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72264,10,1.25,12.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392737,36,1.45,52.20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
392736,48,0.83,39.84,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
392735,24,0.39,9.36,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
423939,36,1.25,45.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
392751,12,0.42,5.04,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [29]:
df_without=df_with_sep_countries.drop('Churn', axis=1)

df_without

,Quantity,UnitPrice,Total,Country_Australia,Country_Austria,Country_Bahrain,Country_Belgium,Country_Brazil,Country_Canada,Country_Channel Islands,...,Country_RSA,Country_Saudi Arabia,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified
61619,74215,1.04,77183.60,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
61624,-74215,1.04,-77183.60,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
286628,6,2.25,13.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72263,10,1.25,12.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72264,10,1.25,12.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392737,36,1.45,52.20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
392736,48,0.83,39.84,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
392735,24,0.39,9.36,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
423939,36,1.25,45.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
392751,12,0.42,5.04,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [30]:
#Decision Tree using ID3 algorithm

from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(df_without,df_with_sep_countries['Churn'], test_size=0.10)

In [32]:
# Create Decision Tree classifer object
dt_classifier = DecisionTreeClassifier()

In [33]:
# Train Decision Tree Classifer
dt_classifier = dt_classifier.fit(X_train,y_train)

In [34]:
#Predict the response for test dataset
y_pred = dt_classifier.predict(X_test)

In [35]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8950175749084384

In [36]:
#YES, ID3 can be used to construct an oblique decision tree

In [ ]:
#ANN
import tensorflow as tf
from tensorflow import keras

In [ ]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
history = model.fit(X_train, y_train, batch_size=32, epochs=8, validation_data=(X_test, y_test))

In [ ]:
results = model.evaluate(X_test, y_test, batch_size=128)
print("test accuracy:", results[1])

In [37]:
#SVM Model
from sklearn import svm
from sklearn.model_selection import train_test_split

In [38]:
#Training the SVM model
svm_classifier = svm.SVC(kernel='linear', random_state=0)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_without,df_with_sep_countries['Churn'], test_size=0.10)
svm_classifier.fit(X_train, y_train)

In [ ]:
#Predicting the Test results
y_pred = svm_classifier.predict(X_test)

In [ ]:
#Making the confusion matrix
accuracy = accuracy_score(y_test,y_pred)
cmatrix= confusion_matrix(y_test, y_pred)

In [ ]:
class_label = ["Negative", "Positive"]
df = pd.DataFrame(cmatrix, index = class_label, columns = class_label)

In [ ]:
print ("Accuracy : ",accuracy_score(y_test, y_pred)*100)

In [ ]:
report=classification_report(y_test, y_pred)
print(report)

In [ ]:
sns.set()
sns.heatmap(df, annot = True,fmt="d")
plt.title("Test_Confusion_Matrix")
plt.xlabel("Predicted_Label")
plt.ylabel("Actual_Label")
plt.show()

In [ ]:
#hi hi, i am done here